body {
    font-family: Helvetica, Arial;
    background-color: #e1e1e1
}

/**/
.logo-frontpage {
    padding-top: 80px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Front page heading for Code::Cat*/
#code-cat {
    font-weight: bold;
    text-align: center;
}

/*Centering description*/
.description {
    text-align: center;
}

/*Spaces for buttons*/
.sign-frontpage {
    margin: 40px 10px;
}

/*Centering buttons and ul list*/
.info, .center-buttons {
    display: table; 
    margin: 0 auto;
}

/*Info about the system on the frontpage*/
.info {
    padding-top: 20px;
}

/*Logo on nav bar*/
.navbar-brand {
    width: 60px;
    height: 60px;
    position: absolute<
}

.navbar-inverse {
    background-color: #262626;
    margin-bottom: 4px;
}

/*Code::Cat text under logo in nav bar*/
.navbar-header p {
    font-weight: bold;
    font-size: 9px;
    color: white;
}

h2 {
    padding-top: 50px;
}


.navbar-collapse collapse alignlink {

}