body {
    font-family: Helvetica, Arial;
    background-color: #e1e1e1;
}

/**/
.logo-frontpage {
    padding-top: 80px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Front page heading for Code::Cat*/
#code-cat {
    font-weight: bold;
    text-align: center;
}

/*Centering description*/
.description {
    text-align: center;
}

/*Spaces for buttons*/
.sign-frontpage {
    margin: 40px 10px;
}

/*Centering buttons and ul list*/
.info, 
.center-buttons {
    display: table; 
    margin: 0 auto;
}

.sign-in-button {
    margin-right: 5px;
}

#sign-in-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.modal-dialog {
  z-index: 1050;
  width: 400px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.sign-up-button {
    margin-left: 5px;
}

/*Info about the system on the frontpage*/
.info {
    padding-top: 20px;
}

/*Logo on nav bar*/
.navbar-brand {
    width: 90px;
    height: 90px;
    padding-right: 10px;
}

/*Logo on pop up windows*/
.popup-window-logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.modal-header,
.modal-body {
    background-color: #e1e1e1;
}

.modal-footer button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-inverse {
    background-color: #262626;
    margin-bottom: 4px;
}

h2 {
    padding-top: 50px;
}

.navbar-collapse collapse alignlink {

}

/*Settings dropdown list on Dashboard*/
.settings-dropdown {
    position: relative;
    background-color: #3c3a3a;
    border: 0px;
    color: white;
}

.settings-dropdown:hover, 
.settings-dropdown:focus,
.settings-dropdown:visited, 
.settings-dropdown:active {
    background-color: #575757;
    color: white;
}

.dropdown-items > li > a:hover,
.dropdown-items > li > a:focus
.dropdown-items > .active > a,
.dropdown-items > .active > a:hover,
.dropdown-items > .active > a:focus {
    background-color: #a3a3a3;
}

.settings-dropdown 
.caret {
    border-top-color:white;
}

/*Shape of ACE EDITOR*/
#ace-editor {
    position: absolute;
    top: 150px;
    right: 100px;
    bottom: 50px;
    left: 100px;
}