@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<img class="cat-gif" src="~/Images/giphy.gif" alt="Cat Gif"/>

<h3>The Journey:</h3>

<p>It all started on a cold summer's eve.</p>

<h3>The Team:</h3>
<img class="img-profile" src="~/Images/Ingimar.png"/>
<img class="img-profile" src="~/Images/Siggi.png"/>
<img class="img-profile" src="~/Images/Pall.png"/>
