@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title</h2>
<h3>The Journey</h3>

<img class="cat-gif" src="~/Images/giphy.gif" alt="Cat Gif" />

<h3 class="about-h3">The Team</h3>

<div class="about-wrapper col-lg-12">
    <div class="about-profile col-lg-4">
        <p>Head Programmer</p>
        <img class="img-profile" src="~/Images/Eyrun.png" alt="Photo not found" />
        <p>Eyrún Lára Hansen</p>
    </div>
    <div class="about-profile col-lg-4">
        <p>Head of the Database</p>
        <img class="img-profile" src="~/Images/Pall.png" alt="Photo not found" />
        <p>Páll Helgi Sigurðarson</p>
    </div>
    <div class="about-profile col-lg-4">
        <p>Lead Designer</p>
        <img class="img-profile" src="~/Images/Gudrun.png" alt="Photo not found" />
        <p>Guðrún Valdimarsdóttir</p>
    </div>
    <div class="about-profile col-lg-4">
        <p>Senior Developer</p>
        <img class="img-profile" src="~/Images/Eydis.png" alt="Photo not found" />
        <p>Eydís Arnardóttir</p>
    </div>
    <div class="about-profile col-lg-4">
        <p>Junior Developer</p>
        <img class="img-profile" src="~/Images/Ingimar.png" alt="Photo not found" />
        <p>Ingimar Rolf Björnsson</p>
    </div>
    <div class="about-profile col-lg-4">
        <p>Intern</p>
        <img class="img-profile" src="~/Images/Siggi.png" alt="Photo not found" />
        <p>Sigurður R. W. Brynjólfsson</p>
    </div>

</div>