@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<img class="cat-gif" src="~/Images/giphy.gif" alt="Cat Gif"/>

<h3>The Journey:</h3>

<p>It all started on a cold summer's eve.</p>



<div class="row ">
    <h3>The Team:</h3>
    <div class="col-xs-6 col-md-3">
        <ul class="about-ul">
            <li>
                <img class="thumbnail img-profile" src="~/Images/Eyrun.png" alt="Photo not found" />
                <p>Head Programmer</p>
            </li>

            <li>
                <img class="thumbnail img-profile" src="~/Images/Pall.png" alt="Photo not found" />
                <p>Head of the Database</p>
            </li>

            <li>
                <img class="thumbnail img-profile" src="~/Images/Gudrun.png" alt="Photo not found" />
                <p>Lead Designer</p>
            </li>

            <li>
                <img class="thumbnail img-profile" src="~/Images/Eydis.png" alt="Photo not found" />
                <p>Senior Developer</p>
            </li>

            <li>
                <img class="thumbnail img-profile" src="~/Images/Ingimar.png" alt="Photo not found" />
                <p>Junior Developer</p>
            </li>

            <li>
                <img class="thumbnail img-profile" src="~/Images/Siggi.png" alt="Photo not found" />
                <p>Intern</p>
            </li>
        </ul>
    </div>
</div>
