

<div id="not-found-page">
    <hr />

    <img src="~/Images/Adorable-Cat-PNG.png" width="300" height="600" alt="Code Cat Logo" class="sign-up-logo" />

    <h2>404</h2>
    <h3 class="oops">Oops, this page can't be found!</h3>
    <a href="@Url.Action("Index")" class="btn btn-default">Go to the Homepage</a>

    <hr />
</div>