

<div id="not-found-page">
    <hr />

    <h2>404</h2>
    <h3 class="oops">Oops, this page can't be found!</h3>
    <a href="@Url.Action("Index")" class="btn btn-default">Go to the Homepage</a>

    <hr />
</div>