@{
    ViewBag.Title = "Home Page";
}

<!--LOGO-->
<img class="logo-frontpage" src="~/Images/codecat2_black.png" alt="CodeCat logo" />

<!--Program description-->
<h1 id="code-cat">Code::Cat</h1>
<div class="description">
    <p>
        The code editor where you can collaborate and pair program in </br>
        real-time with your best friends. </br>
        It's sorta like Git and Google Docs had procreated </br>
        and had a child.
    </p>
</div>

<!--SIGN IN og SIGN UP buttons-->
<div class="center-buttons">
    <a href="@Url.Action("../User/SignIn")" class="btn btn-success sign-frontpage">
        Sign in
    </a>
    <a href="@Url.Action("../User/SignUp")" class="btn btn-success sign-frontpage">
        Sign up
    </a>
</div>

<!--Information for users-->
<div class="info">
    <ul>
        <li>Online collaborative coding made easy.</li>
        <li>See edits made by collaborators in real time.</li>
        <li>Up to 40 active projects for each user.</li>
        <li>Up to 10 users can collaborate on a single file.</li>
        <li>Up to 100 files for each project.</li>
    </ul>
</div>