@model CodeCat.Models.UserModel
@{
    ViewBag.Title = "AddUser";
}

<h2>Share Document</h2>

<!--LOGO-->
<div class="sign-in-logo-div">
    <img src="~/Images/codecat2_black.png" width="150" height="150" alt="Code Cat Logo" class="sign-up-logo" />
</div>
<hr />

@using (Html.BeginForm("Share", "User", FormMethod.Post, new { @class = "add-document-form" }))
{ 
    <div class="add-document-div">
        <div class="form-group">
            <label for="email" class="control-label">Email address</label>
            
            @Html.TextBoxFor(m => m.email, new { @class = "form-conrtol" })
            <br />
            @Html.ValidationMessageFor(m => m.email, null, new { @class = "text-danger" })
            @if (Model != null)
            {
                <p class="text-danger">This user is already a part of this project</p>
            }
        </div>
    </div>
    <input type="submit" class="btn btn-fab" value="Send invitation" />
}
