@model CodeCat.Models.DocumentModel 

@{
    ViewBag.Title = "showDocument";
}

<!--Commented out until the DB is up!!!-->
@*The Tabs above the Ace Editor
    <div>
        <ul class="navDoc nav-tabs">
            @foreach(var DocumendModel in Models.DocumendModel)
            {
                <li role:"presentation" class="@(Model.selectedDocument == DocumendModel.ID ? "active" : "")">
                    <a href="? Document = @DocumendModel.ID">@DocumendModel.name</a>
                </li>
            }
        </ul>
    </div>
*@

<div>
    <ul class="navDoc nav nav-pills">
        <li class="active" role:"presentation">
            <a href="#">bla.js</a>
        </li>
        <li role:"presentation">
            <a href="#">jalla.css</a>
        </li>
        <li role:"presentation">
            <a href="#">trallala.html</a>
        </li>
        <li role:"presentation">
            <a href="#">giggle.html</a>
        </li>
    </ul>
</div>

<div class="container">
    <!--The Ace Editor begin-->
    <div id="ace-editor">
        function foo(items) {
            var x = "I am Code::Cat";
            return x;
        }
    </div>
</div>

@using (Html.BeginForm("save", "Document", FormMethod.Post))
{
    <div class="container editor-save-div">
        @Html.HiddenFor(m => m.content, new { @id = "hidden-editor" })
        <input type="submit" value="Save" class="editor-save-button btn btn-success" />
    </div>
}

@section scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("ace-editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");

        /*Should save the form on submit button click*/
        $("form").submit(function () {
            console.log("Hallo");
            console.log($("#hidden-editor").val(editor.getSession().getValue()));
            $("#hidden-editor").val(editor.getSession().getValue());
        });
    </script>
}

<!--Test Gudrunar-->
<!-- Autocomplete -->
<!--
<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("ace-editor");
    editor.setOptions({
        enableBasicAutocompletion: true
    });
</script>
-->
<!-- Trying to save the file -->
<!--
<script>
    editor.getSession().on('change', function (e) {
        thisfile = editor.getValue();
    });
</script>
-->
<!--
<script>
    var lastLine = editor.session.getLength();
    editor.gotoLine(lastLine);
    editor.insert("the new text here"); // or session.setValue
    editor.getValue(); // or session.getValue
</script>
-->
<!--
<!-- Script to override enter button -->
<script>
    /* editor.commands.addCommand({
        name: 'Enter',
        bindKey: {win: 'Enter',  mac: 'Enter'},
        exec: function(editor) {
            editor.gotoLine(editor.session.getLength() + 1);
            editor.insert("\n");
            editor.insert("I'm at the bottom.");
        },
        readOnly: true // false if this command should not apply in readOnly mode
    });*/
</script>
<!--End of test Gudrun-->
<!--The Ace Editor end-->