
@{
    ViewBag.Title = "showDocument";
}

<!--Commented out until the DB is up!!!-->
@*The Tabs above the Ace Editor
    <div>
        <ul class="navDoc nav-tabs">
            @foreach(var DocumendModel in Models.DocumendModel)
            {
                <li role:"presentation" class="@(Model.selectedDocument == DocumendModel.ID ? "active" : "")">
                    <a href="? Document = @DocumendModel.ID">@DocumendModel.name</a>
                </li>
            }
        </ul>
    </div>
*@

<!--The Ace Editor begin-->
<div id="ace-editor">
    function foo(items) {
        var x = "I am Code::Cat";
        return x;
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
        var editor = ace.edit("ace-editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
</script>
<!--The Ace Editor end-->