@model CodeCat.Models.ViewModeles.DashBoardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<section class="row">
    @foreach (var itemj in Model.projects)
    {
        <section class="col-sm-4">
            <section class="well">
                <h3>@Html.DisplayFor(modelItem => itemj.name)</h3>
                <p>ID: @Html.DisplayFor(modelItem => itemj.ID)</p>
                <p>creatorUserID: @Html.DisplayFor(modelItem => itemj.creatorUserID)</p>
            </section>
        </section>
    }
</section>


